/*---------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
  
    1. Header
    2. Who am I
    3. About
    4. Fortfolio Area
    5. Contact Area
    6. Footer Area

-----------------------------------------------------------------------------------*/

/*============================================
* 1. Header Area
*=============================================*/

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  background: #202020;
}
/* .logo {
} */
.logo a {
  display: inline-block;
}
.logo a img {
  max-width: 43px;
}
/* .main-menu {
} */
.main-menu nav ul {
  text-align: right;
}
.main-menu nav ul li {
  display: inline-block;
}
.main-menu nav ul li a {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  padding: 35px 17px;
  position: relative;
}

.main-menu nav ul li a:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 17%;
  height: 7px;
  width: 7px;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  transform: translateX(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.main-menu nav ul li a:after {
  content: attr(data-hover);
  position: absolute;
  left: 50%;
  top: 70%;
  opacity: 0;
  transform: translateX(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.main-menu nav ul li a:hover:after {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main-menu nav ul li.active a:before {
  opacity: 1;
}
.main-menu nav ul li a span {
  display: block;
  -webkit-transition: all 0.15s ease-in-out 0s;
  -o-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}
.main-menu nav ul li a:hover span {
  transform: translate3d(0, -12px, 0);
  opacity: 0;
}

.slicknav_menu .slicknav_menutxt {
  display: none;
}

.slicknav_menu {
  background: transparent;
  margin-top: 21px;
}

.slicknav_menu .slicknav_icon-bar {
  height: 2px;
  width: 19px;
  margin: 3px 0px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slicknav_btn {
  background-color: transparent;
  position: relative;
  margin-top: -38px;
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(2) {
  opacity: 0;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(1px, 7px);
  transform: rotate(45deg) translate(1px, 7px);
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-6px);
  transform: rotate(-45deg) translateY(-6px);
}

.slicknav_menu {
  margin-top: 0;
}

.slicknav_nav {
  background: #0c0c0c;
  margin: 0;
  padding: 6px 0px;
  margin-top: 10px;
}

.slicknav_nav a:hover {
  background: #fefefe none repeat scroll 0 0;
  border-radius: 0;
}

.slicknav_nav a {
  font-size: 14px;
  letter-spacing: 0.01em;
}

/*============================================
* 2. Slider Area
*=============================================*/
.slider-area {
  height: 800px;
  display: flex;
  align-items: center;
  position: relative;
}
.white_svg {
  position: absolute;
  left: 0;
  bottom: -11px;
  width: 100%;
  overflow: hidden;
}
.svg_white svg {
  fill: #fff;
  width: 101%;
}
.svg_gray svg {
  fill: #f9f9f9;
  width: 101%;
}
.slider-content h2 {
  font-size: 55px;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 55px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.slider-content h4 {
  font-size: 19px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 0em;
  line-height: 41px;
  text-transform: uppercase;
}
.slider-content h4 span {
  display: inline-block !important;
  letter-spacing: 0;
}
.txt1-wrap {
  overflow: hidden;
  margin-bottom: 100px;
}
.txt1 {
  opacity: 0;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate3d(0px, 100%, 0px);
  -ms-transform: translate3d(0px, 100%, 0px);
  -o-transform: translate3d(0px, 100%, 0px);
  transform: translate3d(0px, 100%, 0px);
}

.next-section {
  position: absolute;
  right: 38px;
  bottom: 123px;
  transform: rotate(-90deg);
  z-index: 99;
  padding-left: 32px;
}
.next-section a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.2em;
  font-weight: 300;
  position: relative;
}
.next-section strong {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin-left: 4px;
}
.next-section a:after {
  content: '';
  position: absolute;
  bottom: 3px;
  right: 0;
  height: 1px;
  width: 0%;
  background-color: #ddd;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.next-section a:hover:after {
  width: 126%;
}
.next-section a:before {
  content: '\f104';
  position: absolute;
  bottom: 3px;
  left: -17px;
  font-family: fontawesome;
  font-size: 24px;
  color: #b1acac;
  -webkit-animation: secdownmoving 1000ms linear 0s infinite;
  -o-animation: secdownmoving 1000ms linear 0s infinite;
  animation: secdownmoving 1000ms linear 0s infinite;
}
@keyframes secdownmoving {
  0% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
}
